.banner {
    height: 175px;
    color: rgb(0, 0, 0);
    background-color: #3bca1e;
    display: flex;
    align-items: center;
    align-content: center;
    text-align: center;
    vertical-align: middle;
    flex-direction: column;
    justify-content: center;

}

